@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
body {
  background: #f1f1f1 !important;
  font-family: "Roboto" !important;
}
.slider-image {
  width: 75%;
}
.slider-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-tabs .nav-item {
  width: 50%;
  text-align: center;
  font-weight: bold;
}
